
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,500;1,14..32,500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ======== Police et couleurs de base ======== */
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #0a0e2a, #1a0442);
  color: #fff;
  min-height: 100vh;
}

/* ======== Barre de navigation ======== */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 80px;
  background: transparent;
}

/* Logo du site */
.logo {
  font-size: 1.5rem;
  font-weight: 700;
}

/* Couleur bleu dial .gg */
.highligh {
  color: #00bfff;
}

/* Liens d navigation */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

/* Style des liens */
.nav-links a {
  color: #ccc;
  text-decoration: none;
  font-size: 0.95rem;
  transition: color 0.3s;
}

/* effet dial hover*/
.nav-links a:hover {
  color: #00ffff;
}


.btn-login {
  background: linear-gradient(90deg, #00bfff, #00ffff);
  color: #fff;
  padding: 10px 22px;
  border-radius: 8px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s;
}


.btn-login:hover {
  opacity: 0.5;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 150px 20px;
  background: linear-gradient(67deg, #09263f, #34072f);
}


.hero-content {
  max-width: 800px;
}


.hero h1 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 20px;
}


.accent {
  color: #00ffff;
}


.hero p {
  font-size: 1.1rem;
  color: #aaa;
  margin-bottom: 40px;
}


.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}


.btn-primary {
  background: linear-gradient(90deg, #00bfff, #00ffff);
  padding: 12px 28px;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}


.btn-primary:hover {
  opacity: 0.8;
}


.btn-secondary {
  border: 2px solid #00ffff;
  padding: 12px 28px;
  border-radius: 10px;
  color: #00ffff;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}


.btn-secondary:hover {
  background: rgba(0, 255, 255, 0.1);
}

.promo {
  text-align: center;
  background-color: #0a0e2a; 
  padding: 60px 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

/* Titre principal section promo */
.promo h2 {
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 40px;
  text-transform: uppercase;
}

/* Mots as en bleu c */
.promo .accent {
  color: #00ffff;
}


.game-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}


.game-logos img {
  width: 40px;
  height: auto;
  transition: transform 0.3s ease;
}


.game-logos img:hover {
  transform: scale(1.15);
}
body{
    background:#0b0e29;
}
.players{
    display: flex;
     text-align: center;
     justify-content: space-evenly;
     flex-wrap: wrap;
     margin: 20px auto;
     gap: 30px;

}

.title{
    text-align: center;
    font-size:40px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
}
.line{
    height: 4px;
    width: 100px;
    background: linear-gradient(135deg,#00FFFF,#FF00FF);
    border-radius: 2px;
    margin: 20px auto 0 auto;
}

img{
    width: 80px;
    border-radius: 50%; 
    border: solid 2px ;
    background: linear-gradient(135deg,#00FFFF ,#0099FF) ;
    color: transparent;
    margin: 20px 0 20px 0;
}
.players .player{
    width: 365.34px;
    height: 326.78px;
    border: solid 0.5px #00ffff82;
    border-radius: 16px;
    background: linear-gradient(64deg, #1A1F3A, #0F1428);
}
.username{
    color: white;
    font-weight: bold;
    font-size: 18.9.px;
    margin-bottom: 10px;
}
.game{
    color: #FF4655;
    background: #ff465646;
    padding: 5px;
    border: solid 0.2px #FF4655;
    border-radius: 20px;
    margin: 10px auto;
    width: 140px; 
}
p{
    font-size: 13.5px;
    color: #B0B0B0;
    line-height: 23px;
    margin: 0 15px;
}

.formation span{
    color: #00FFFF;
    line-height: 23px;
    font-weight: bold;
    
}

.level{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}
.butom_profil{
    background: linear-gradient(-135deg, #00FFFF,#0099FF);
    color: transparent;
    color: #0A0E27F2;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 5px #00FFFF;
    transition: 0.3s;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;   
    width: 316px;
    margin-top: 10px;
}
.butom_profil:hover{
    color: #00FFFF;
    background: #0A0E27F2;
    box-shadow: white ;
}

.messi{
    height: 80px;
}

footer{
    background: #0A0E27F2 ;
    width: 100%;
    height: 450px;
    border-top: solid 0.2px #00ffff82;

}
.footer-content{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction:row;
    margin: 40px;

}
.footer-section ul{
    list-style: none;
    text-align: left;

}
.footer-section a{
    text-decoration: none;
    color: #B0B0B0;
     line-height: 36px;
     font-size: 14.8px;
}
.footer-section p{
    text-align: left;
    color: #B0B0B0;
    font-size: 14.8px;
    line-height: 28.8px;
}
.footer-bottom{
    text-align: center;
    color: #B0B0B0;
    margin-bottom: 32px;
}
.footer-bottom p{
    font-size: 14.8px;
    margin-bottom: -32px;
    padding-top: 40px;
    border-top: solid 1px #00ffffa4;
}

h4{
    font-size: 16.9px;
    color: white;
    text-align: left;
}
.footer-section{
    margin: 64px 40px 0 40px;
    line-height: 40px;

}
footer .logo{
    text-align: left;
    margin-bottom: 10px;
}
.social-links i{
    font-size: 38px;
    color: #00FFFF;
    padding: 5px 5px;
    margin-left: 16px;
    cursor: pointer;
}
.footer-section2{
    text-align: left;
}